.nav {
    display: flex;
    position: fixed;
    left: 151px;
    top: 1057px;
    width: 433px;
    height: 57px;
    background-color: #F9F9F9;
    justify-content: space-around;
    line-height: 60px;
}

.nav i {
    font-size: 20px;
}